/* general */
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #F3F3F3;
}

.container {
    width: 1200px;
    height: 100%;
    margin: 100px auto 0 auto;
}

.row {
    display: flex;
    height: 100%;
}

.bg {
    background: #FFF;
}

.column-grid-1 {
    flex: 30%;
    margin: 10px;
}

.column-grid-2 {
    /* flex: 70%; */
    margin: 10px;
    width: 781px;
}

.profile-card, .main-content {
    padding: 30px 40px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* sidebar */
.sidebar {
    height: 100%;
    width: 380px;
    position: fixed;
}

.sidebar .profile-card {
    margin-bottom: 15px;
}

.avatar {
    width: 164px;
    height: 164px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
	z-index: 200;
	transform: translateY(50%);
    border-radius: 50%;
    border: 5px solid #f3f3f3;
	background-color: blue;
    margin-top: calc(-164px - 10px);
}

.avatar::before {
    content: "";
    position: absolute;
    width: 580px;
    height: 543px;
    top: 11%;
    left: -130%;
    z-index: -1;
    background-image: url(images/me.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(92deg);
}

.avatar img{
    width: 100%
}

.bio {
    text-align: center;
    position: relative;
}

.sidebar .bio ul li {
    margin: 30px 0;
}

.sidebar .profile-card ul li .list1 {
    display: block;
}

/* Main Content */
.main {
    position: relative;
    left: 400px;
}

.main .main-content {
    margin-bottom: 15px;
}

/* Main Content Form */
form {
    width: 100%;
}

input, textarea {
    width: 100%;
    padding: 15px 0 15px 10px;
    border-radius: 5px;
    border: 1px solid #f3f3f3;
}

.form-row {
    margin-bottom: 30px;
}